# Terraform specific

.terraform

.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
terraform.tfvars
**.tfbackend
state/

flink01.txt
flink02.json
hilo_cluster_flink.txt